div.v-label.v-widget.preview.v-label-preview.v-has-width {
	color: black !important;
}
span.v-checkbox.v-widget {
	margin-left: 10px !important;
	margin-top: 15px !important;
}
.valo .v-tabsheet-tabitemcell .v-tabsheet-tabitem-selected .v-caption.v-caption {
	border-bottom-color: white !important;
	border-top-color: white !important;
	color: white !important;
}
h2 {
	margin-top: 1px !important; 
}
.v-slot.v-slot-story {
	background-image: url("common/images/grid.svg") !important; 
 
 	background: transparent;
}
.valo .v-tabsheet-tabitemcell .v-caption {
	border-top: 3px solid transparent !important;
	border-bottom: 3px solid transparent !important;
}

 .valo .v-button {
    background: #ebebeb !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background-image: none !important;
   	margin-top: 10px !important;
    border-radius: 0px !important;
  } 
  
.valo .v-panel-caption {
  padding: 0 12px !important;
  background-color: #ECECEC !important;
  border-radius: 0px 0px 0 0 !important; 
  border: 2px solid !important;
  border-left: 0px solid !important;
  border-right: 0px solid !important;
  background-image: none !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  }
.v-splitpanel-vertical, .v-splitpanel-horizontal {
	background-color: #18bc9c !important;
}
.valo .v-panel-caption {
	background-color: #2c3e50 !important;
	color: white !important;
}
.d3-gauge.default path.yellowZone {
	fill: none !important;
opacity: .6 !important;
}

.d3-gauge.default path.redZone {
	fill: none !important;
opacity: .6 !important;
}
.d3-gauge.default circle.dialButton {
	fill: #18bc9c !important;
	stroke: #666 !important;
	opacity: 1.0 !important;
}

.d3-gauge.default path.dialPointer {
	fill: #2c3e50 !important;
	stroke: #2c3e50 !important;
	fill-opacity: 1 !important;
}
.d3-gauge.default circle.innerCircle {
	fill: white !important;
	stroke-width: 2px !important;
	stroke: #e0e0e0 !important;
	opacity: .93 !important;
}
path.zones.greenZone {
	opacity: 0 !important;
}
.d3-gauge.default circle.outerRing {
	fill: #2c3e50 !important;
	stroke-width: 0px !important;
	stroke: #000 !important;
	opacity: .4 !important;
}

table.v-tabsheet-tabs {
	background-color: #2c3e50 !important;
	width: 100% !important;
}
.valo .v-table-header-wrap, .valo .v-table-footer-wrap, .valo .v-table-header-drag {
	 background-image: none !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
div.v-label.v-widget.v-has-width {
	color: white !important;
	margin: 6px !important;
}
.v-captiontext {
	color: white !important;
}

.v-button-danger.v-button-danger {
    background: #fff;
    border-color: v-error-indicator-color;
    color: v-error-indicator-color;
  }

  .v-slider-base:before,
  .v-slider-base:after {
    border: none !important;
  }
}



