
.v-slot {
	
}
.valo .v-tabsheet-tabitemcell .v-tabsheet-tabitem-selected .v-caption.v-caption {
	border-bottom-color: white !important;
	color: white !important;
}
.v-slot.v-slot-story {
	background-image: url("common/images/grid.svg") !important; 
 
 	background: transparent;
}

 .valo .v-button {
    background: #ebebeb !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background-image: none !important;
   
    border-radius: 0px !important;
  } 
  
.valo .v-panel-caption {
  padding: 0 12px !important;
  background-color: #ECECEC !important;
  border-radius: 0px 0px 0 0 !important; 
  border: 2px solid !important;
  border-left: 0px solid !important;
  border-right: 0px solid !important;
  background-image: none !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  }
.v-splitpanel-vertical, .v-splitpanel-horizontal {
	background-color: #18bc9c !important;
}
.valo .v-panel-caption {
	background-color: #2c3e50 !important;
	color: white !important;
}
div.v-label.v-widget.v-has-width {
	color: white !important;
}
.v-captiontext {
	color: white !important;
}

.v-button-danger.v-button-danger {
    background: #fff;
    border-color: v-error-indicator-color;
    color: v-error-indicator-color;
  }

  .v-slider-base:before,
  .v-slider-base:after {
    border: none !important;
  }
}


